<igx-expansion-panel (onExpanded)="handleExpansion($event)" (onCollapsed)="handleCollapse($event)">
  <igx-expansion-panel-header [iconPosition]="'right'">
      <igx-expansion-panel-title>
        Avengers: Endgame
      </igx-expansion-panel-title>
      <igx-expansion-panel-description *ngIf="panel.collapsed">
        Avengers: Endgame is an upcoming American superhero film.
      </igx-expansion-panel-description>
      <igx-expansion-panel-icon>
          <span class="example-icon" *ngIf="panel.collapsed">Show more</span>
          <span class="example-icon" *ngIf="!panel.collapsed">Collapse</span>
      </igx-expansion-panel-icon>
  </igx-expansion-panel-header>
  <igx-expansion-panel-body>
      <p>The film was announced in October 2014 as Avengers Infinity War Part 2. 
        The Russo brothers came on board to direct in April 2015, and by May, Markus and McFeely signed on to script the film. In July 2016, 
        Marvel removed the films title, referring to it simply as Untitled Avengers film. 
        Filming began in August 2017 at Pinewood Atlanta Studios in Fayette County, Georgia, shooting back-to-back with Avengers Infinity War, 
        and ended in January 2018. Additional filming took place in the Downtown and Metro Atlanta areas. The title, 
        Avengers Endgame, was officially revealed in December 2018.</p>
        <a [href]="readMore" target="_blank">Read more</a>
  </igx-expansion-panel-body>
</igx-expansion-panel>
